html,
body,
#mapid {
    height: 100%;
    font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.legend {
    line-height: 18px;
    color: #555;
    background-color: #FFFEFF;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 1;
}

.legend .circle {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-top: 3px;
}

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    padding: 10px;
    margin: 2px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button:hover {
    background: #3E606F;
    box-shadow: 0px 15px 20px rgba(62,96,111, 0.4);
    color: #fff;
    transform: translateY(-7px);
    text-decoration: none;
}

p {
    font-family: 'Lato', sans-serif;

}

h1 {
    font-family: 'Lato', sans-serif;

}

h2 {
    font-family: 'Lato', sans-serif;

}

h5 {
    font-family: 'Lato', sans-serif;

}

.tab {
    margin-left: 40px;
}

.sidebar-header {
    background: #3E606F;
    font-size: 1.6em;
}

.sidebar-tabs {
    background-color: #9E9E87;
}

.sidebar-tabs > li,
.sidebar-tabs > ul > li {
    color: #333;
}

.sidebar-tabs > li:hover,
.sidebar-tabs > ul > li:hover {
    color: #000;
    background-color: #BDBD9E;
}

.sidebar-tabs > li.active,
.sidebar-tabs > ul > li.active {
    color: #3E606F;
    background-color: #FCFFF5;
}

.sidebar-content {
    background-color: #FCFFF5;
}

.fishphoto {
    max-width: 100%;
	height: auto;
    padding-bottom: 25px;

}

.summary {
    text-align: center;
}

.prevent {
    margin-top: 25px;
    font-style: bold;
    font-weight: 700;
    margin-bottom: 15px;
}

.leaflet-popup-content p {
    margin: 0.2em 0;
    line-height: 1.3em;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    background: #414B4D;
    color: #D1DBBD;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}
